.chat {
  background: white;
  width: 60%;
  border-radius: 12px;
}

.sender,
.receiver {
  p {
    border-radius: 16px 16px 0px 16px;
    padding: 10px;
    margin: 0;
    text-align: center;
  }
  margin: 1%;
  width: max-content;
}

.receiver {
  p {
    background: var(--primary-100, #5570f1);
    color: white;
  }

  align-self: flex-start;
  i {
    display: none;
  }
}

.sender {
  text-align: right;
  align-self: flex-end;
  p {
    background: var(--secondary-100, #ffcc91);
  }
  i {
    background: var(--secondary-100, #ffcc91);
    border-radius: 100px;
    padding: 2px 2px 0.5px 0.5px;
    margin: 0 5px;
    margin-right: 0;
  }
}
.time {
  margin: 5px;
  margin-right: 0;
  small {
    color: var(--black-30, #8b8d97);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
.date {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    background: var(--main-background, #f4f5fa);
    border-radius: 8px;
    width: max-content;
    text-align: center;
    padding: 5px;
  }
}

.chatArea {
  max-height: 45vh;
  overflow-y: scroll;
}

.phoneDiv {
  display: flex;

  width: 40%;
}
.inStock {
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding-bottom: 5%;
  color: #a6a8b1;
  h5 {
    padding: 0;
    margin: 0;
  }

  &_text {
    color: #5570f1;
  }
}
