.summary {
  border-radius: 12px;
  background: #fff;
  padding: 10px;
  margin-top: 5px;
}
.top,
.left {
  display: flex;
  align-items: center;
}
.left {
  gap: 10px;
}

.top {
  justify-content: space-between;
  width: 100%;
}

.salesButton {
  border-radius: 8px;
  background: rgba(85, 112, 241, 0.08);
}
