@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.baseCard {
  border-radius: 12px;
  background: #fff;
  padding: 1%;
  min-width: 30%;

  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // @media screen and (min-width: 1900px) {
  //   border: solid 1px red;
  // }
}

.top {
  display: flex;
  justify-content: space-between;
}
.body {
  display: flex;
  justify-content: space-between;
  label {
    color: var(--black-30, #8b8d97);

    /* Paragraph 2/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p {
    color: var(--black-60, #45464e);

    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
  }

  small {
    color: #519c66;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.innerBody {
  display: flex;

  align-items: center;
  gap: 10px;
}
