@import "@/sass/values";
.navbar {
  display: flex;
  justify-content: space-between;

  background: white;
  align-items: center;
  padding: 10px;
  p {
    color: #45464e;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
  }
}
.breadCrumbs {
  border-top: 1px solid var(--stroke, #f1f3f9);
  background: #fff;
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mainbutton {
  border-radius: 8px;
  background: var(--secondary-20, #fef5ea);
}

.right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.locationItem {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    text-decoration: none;
    color: black;
  }
  p {
    padding: 0;
    margin: 0;
  }
}
