.contacts {
  background: white;
  width: 34%;
  padding: 5px;
  border-radius: 12px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.searchBar {
  border-radius: 8px;
  border: 1px solid var(--black-1, #cfd3d4);
  input {
    border: none;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
}
.contactCards {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow-y: scroll;
  max-height: 66vh;
  margin-top: 1%;
}
